<!-- Footer -->
<br />
<hr>
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="text-warning font-weight-bold text-uppercase mt-3 mb-4">ANNONCES.COM</h5>
                <p>Notre plateforme m'est en avant les particuliers pour les mettre en contact avec des acheteurs pour eviter le gachis d'une manière générale.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="text-danger font-weight-bold text-uppercase mt-3 mb-4">CONTACTS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">administartion@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!">06 35 21 41 25</a>
                    </li>
                    <li>
                        <a href="#!">15 rue des chat</a>
                    </li>
                    <li>
                        <a href="#!">38000 GRENOBLE</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="text-info font-weight-bold text-uppercase mt-3 mb-4">MAP</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Top des ventes</a>
                    </li>
                    <li>
                        <a href="#!">Rechercher</a>
                    </li>
                    <li>
                        <a href="#!">Inscription</a>
                    </li>
                    <li>
                        <a href="#!">Connexion</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="text-success font-weight-bold text-uppercase mt-3 mb-4">Partenaires</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Le bon coin</a>
                    </li>
                    <li>
                        <a href="#!">Amazon</a>
                    </li>
                    <li>
                        <a href="#!">Cdiscount</a>
                    </li>
                    <li>
                        <a href="#!">Casino</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Recevoir notre newsletter :</h5>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="btn btn-outline-danger">S'incrire</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://mdbootstrap.com/"> Annonces SF5.com</a>
    </div>


</footer>
<!-- Footer -->