{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}
    <h1 class="text-success">Envoyer un email au vendeur</h1>
    {{ form(emailForm) }}
{% endblock %}
